<ng-container *ngIf="city; else noCity">
  <div class="max-w-2xl mx-auto p-4 bg-white rounded-lg shadow-lg">
     <div class="flex items-center justify-center space-x-4 mb-8">
        <h1 class="text-4xl font-semibold text-gray-800">{{ city.cityName }}</h1>
     </div>
     <div class="flex items-center justify-center space-x-4 mb-8">
        <span class="text-5xl">{{ city.icon }}</span>
     </div>
     <div class="space-y-4 text-gray-700">
        <p class="text-lg"><span class="text-2xl">{{ city.description }}</span></p>
        <p class="text-lg"><strong>Current Temperature:</strong> <span class="text-xl"> {{ city.currentTemp }}</span></p>
        <p class="text-lg"><strong>Max Temperature:</strong> <span class="text-xl"> {{ city.max_temp }}</span></p>
        <p class="text-lg"><strong>Min Temperature:</strong> <span class="text-xl"> {{ city.min_temp }}</span></p>
        <p class="text-lg"><strong>Wind Speed:</strong> <span class="text-xl"> {{ city.windSpeed }}</span></p>
     </div>
  </div>
</ng-container>
<ng-template #noCity>
  <div class="text-center text-gray-600 py-10">No city data available</div>
</ng-template>